import mjml2html from 'mjml'

/*
Compile an mjml string
*/
export const htmlOutput = mjml2html(`
<mjml>
  <mj-head>
    <mj-title>Lettworks - Reset Password</mj-title>
    <mj-attributes>
      <mj-all font-family="sans-serif" font-size="16px" color="#626262" />
    </mj-attributes>
    <mj-style>
      .heading {
        font-style: bold;
        font-size: 28px;
        font-family: "serif";
      }
    </mj-style>
  </mj-head>
  <mj-body>
    <mj-container background-color="#eee" padding="10px 20px">

      <mj-section background-color="#eee" padding="10px 0px">
        <mj-column>
          <mj-image width="50px" height="50px" align="left" src="https://demo.tutorialzine.com/2017/02/images/header-image.jpg" alt="Logo" target="_blank" href="#" />
        </mj-column>
      </mj-section>

      <mj-section background-color="#fff" padding="40px">
        <mj-column>
          <mj-text>
            <p class="heading">Reset your password</p>
          </mj-text>
          <mj-divider border-color="#ddd" padding="20px 0px" />
          <mj-text padding-bottom="20px">
            <p>Need to reset your password? No problem! Just click on the button below and you'll be on your way. If you did not make this request, please ignore this email.</p>
          </mj-text>
          <mj-button background-color="#4bd4b0" color="#fff" font-size="14px" href="#" target="_blank" text-align="center">Reset your password</mj-button>
        </mj-column>
      </mj-section>

      <mj-section background-color="#fff">
        <mj-column>

          <mj-text align="center" font-size="11">Lettworks Ltd</mj-text>

          <mj-social display="facebook instagram twitter" font-size="0" icon-size="16px" padding="0" facebook-href="#" instagram-href="#" twitter-href="#" />

        </mj-column>
      </mj-section>

    </mj-container>
  </mj-body>
</mjml>
`, options)

/*
Print the responsive HTML generated and MJML errors if any
*/
console.log(htmlOutput);